.search {
    &-form {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    &-input {
        margin-left: 10px;
        padding: 10px;
        width: 1000px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        outline: none;
        border: none;
        border-radius: 15px;
        border: 1px #000 solid;
        padding: 10px 10px 10px 10px;
    }
}

.searchButton {
    color: #e5dc15;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid #e5dc15;
    border-radius: 0.5rem;
    position: relative;
    top: 0;
    transition: all 300ms ease-in-out;
    &:hover {
        background: #e5dc15;
        color: #0e79b2;
    }
    box-shadow: 0 0.6em #c2bb11,
    0 0.9em rgba(0, 0, 0, 0.4);
}